SALESFORCE_CLIENT_ID=""
SALESFORCE_CLIENT_SECRET=""
SALESFORCE_REFRESH_TOKEN=""
SALESFORCE_LOGIN_URL="https://login.salesforce.com"
SALESFORCE_API_VERSION="65.0"
SERVER_PORT="5174"
VITE_API_BASE_URL="http://localhost:5174"

